<header [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">
    <nav>
        @if (isDarkTheme) {
            <a href="" class="logo" style="color: white;">N</a>
            <div class="pages-box">
                <a routerLink="/home" style="color: white;" routerLinkActive="active" #homeLink>
                    <span class="absolute inset-0 -z-10 rounded-lg bg-tertiary" style="opacity: 1;"></span>
                    Home
                </a>
                <a routerLink="/about" style="color: white;" routerLinkActive="active" #aboutLink>
                    <span class="absolute inset-0 -z-10 rounded-lg bg-tertiary" style="opacity: 1;"></span>
                    About
                </a>
                <a routerLink="/projects" style="color: white;" routerLinkActive="active" #projectsLink>
                    <span class="absolute inset-0 -z-10 rounded-lg bg-tertiary" style="opacity: 1;"></span>
                    Projects
                </a>
                <a href="/NAREIN_RESUME_2025.pdf" target="_blank">
                    <span class="absolute inset-0 -z-10 rounded-lg bg-tertiary" style="opacity: 1;"></span>
                    Resume
                </a>
            </div>
        }
        @if (!isDarkTheme) {
            <a href="" class="logo" style="color: black;">N</a>
            <div class="pages-box" id="white-bgd">
                <a routerLink="/home" routerLinkActive="active">
                    <span class="absolute inset-0 -z-10 rounded-lg bg-tertiary" style="opacity: 1;"></span>
                    Home
                </a>
                <a routerLink="/about" routerLinkActive="active" >
                    <span class="absolute inset-0 -z-10 rounded-lg bg-tertiary" style="opacity: 1;"></span>
                    About
                </a>
                <a routerLink="/projects" routerLinkActive="active" >
                    <span class="absolute inset-0 -z-10 rounded-lg bg-tertiary" style="opacity: 1;"></span>
                    Projects
                </a>
                <a href="/NAREIN_RESUME_2025.pdf" target="_blank">
                    <span class="absolute inset-0 -z-10 rounded-lg bg-tertiary" style="opacity: 1;"></span>
                    Resume
                </a>
            </div>
        }
        @if (mode) {
            <div id="change-background">
                <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 theme-icon" [class.rotate]="isDarkTheme"  (click)="onClick()">
                    <path d="M14.438 10.148c.19-.425-.321-.787-.748-.601A5.5 5.5 0 0 1 6.453 2.31c.186-.427-.176-.938-.6-.748a6.501 6.501 0 1 0 8.585 8.586Z" />
                </svg>
            </div>
        }
        @else {
            <div id="change-background">
                <svg style="color: white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 theme-icon" [class.rotate]="isDarkTheme"  (click)="onClick()">
                    <path d="M8 1a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0v-1.5A.75.75 0 0 1 8 1ZM10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0ZM12.95 4.11a.75.75 0 1 0-1.06-1.06l-1.062 1.06a.75.75 0 0 0 1.061 1.062l1.06-1.061ZM15 8a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5A.75.75 0 0 1 15 8ZM11.89 12.95a.75.75 0 0 0 1.06-1.06l-1.06-1.062a.75.75 0 0 0-1.062 1.061l1.061 1.06ZM8 12a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0v-1.5A.75.75 0 0 1 8 12ZM5.172 11.89a.75.75 0 0 0-1.061-1.062L3.05 11.89a.75.75 0 1 0 1.06 1.06l1.06-1.06ZM4 8a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5A.75.75 0 0 1 4 8ZM4.11 5.172A.75.75 0 0 0 5.173 4.11L4.11 3.05a.75.75 0 1 0-1.06 1.06l1.06 1.06Z" />
                </svg>              
            </div>
        }
    </nav>
</header>
<router-outlet></router-outlet>